#right {
    float:right;
}

#lastcolumn{
    padding: 2px;
    /*margin-right: ;*/
}

.customsearch{
    margin-right: 1em;
    margin-top: .3em;
}

.productlisttitle{
    text-align: left;
    font-size: 2em;
}

.price{
    text-align: right;
}

.location{
    text-align: right;
}

.offers{
    font-size: 1.5em;
    text-align: center;
}

.techfont{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}

.postdate{
    text-align: center;
}

.producttitle{
    font-size: 3em;
    text-align: center;
}

.productcontent{
    font-family: 'Montserrat';
    font-size: 1.5em;
}

.btn-comment{
    position: absolute;
    right: 0px;
}