{% extends 'products_base.html' %}
{% block title_block %}
    <title>Offers</title>
{% endblock %}
{% block body_block %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Offer</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for product in product_list %}
            <tr>
                <td><a href="{% url 'products:product_detail' pk=product.pk %}">{{ product.title }}</a></td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a id=right href="{% url 'products:product_create' %}"><button type="button" class="btn btn-primary">New Offer</button></a>
{% endblock %}